/* Set background color for the whole page */
body {
  background-color: #333;
}
/* Paragraphs style */
p {
  color: #fff;
  text-align: center;
}
/* Center the container horizontally and vertically */
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style for headings */
h1 {
  color: #fff;
  text-align: center;
}

/* Style for input elements */
input[type="file"],
input[type="text"] {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
}

/* Override text input color */
input[type="text"] {
  color: #000;
}

/* Style for input elements on hover */
input[type="file"]:hover,
input[type="text"]:hover {
  border-color: #999;
}

/* Style for input elements on focus */
input[type="file"]:focus,
input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

/* Hide radio button container by default */
#radioContainer {
  display: none;
}

/* Style for radio button group */
.radio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Style for radio buttons */
.radio-buttons input[type="radio"] {
  display: none; /* Hide the original radio button */
}

.radio-buttons label {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.radio-buttons label:hover {
  background-color: #0056b3;
}

.radio-buttons input[type="radio"]:checked + label {
  background-color: #0056b3;
}

/* Style for buttons */
button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

/* Style for disabled buttons */
button[disabled] {
  background-color: #999;
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: #999;
}

/* Style for button on hover */
button:hover {
  background-color: #0056b3;
}
